<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sobre Docker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Um pouco sobre</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">O Docker</a>
                    </li>
                    <li class="nav-item"><a href="/docker" class="nav-link">Container x VM</a>
                    </li>
                    <li class="nav-item"><a href="/developers" class="nav-link">Para Desenvolvedores</a>
                    </li>
                    <li class="nav-item"><a href="/clientes" class="nav-link">Lista de Clientes API</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Quer aprender sobre Docker?</h1>
            <p>Você está pronto para aprender Docker?</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/docker" role="button">Clique aqui para comparar Contêineres x Máquinas Virtuais</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3>Conceitos do Docker</h3>
                <p>O Docker é uma plataforma para desenvolvedores e administradores de sistemas desenvolverem, implementarem e executarem aplicativos com contêineres. O uso de contêineres do Linux para implantar aplicativos é chamado de contêiner . Os contêineres não são novos, mas seu uso para implantar aplicativos facilmente é.
                </p>
                <img src="https://docs.docker.com/get-started/images/laurel-docker-containers.png" alt="Docker">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>O que é uma imagem?</h2>
                <p>Uma imagem é um pacote executável que inclui tudo o que é necessário para executar um aplicativo - o código em tempo de execução, bibliotecas, variáveis ​​de ambiente e arquivos de configuração.
                </p>
            </div>            
            <div class="col-lg-6">
                <h2>O que é um contêiner?</h2>
                <p>Um contêiner é uma unidade padrão de software que empacota o código e todas as suas dependências para que o aplicativo seja executado de maneira rápida e confiável de um ambiente de computação para outro.
                </p>
            </div>
        </div>
    </div>
</body>

</html>