.navbar {
    margin-bottom: 0;
    background: #077CBC;
    box-shadow: 0 1px 13px rgba(0,0,0,0.24);
}

body {
    background-color: #fff;
    color: #5a5a5a;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #5a5a5a;
    font-family: "Open Sans",sans-serif;
}

.jumbotron {
    background: #0048CD;
    color: white;
    text-align: center;
}

.jumbotron p {
    color: white;
    font-size: 26px;
}

.btn-primary {
    color: #fff;
    text-color: #000000;
    border-color: white;
    margin-bottom: 5px;
}

img,
video,
audio {
    margin-top: 20px;
    max-width: 80%;
}

div.caption: {
    float: left;
    clear: both;
}